*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    height: 10%;
}


header h1{
    text-align: center;
}

main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70%;
}


#loadingscreen{
    align-self: center;
    height: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loadingscreen h1{

    padding: 5rem;
    border: solid;
    border-color: black;
    border-radius: 15px;

}

#loadingscreen button{
    width: 20rem;
    height: 3rem;
    background-color: rgba(190, 190, 190, 0.9);
}


main img{
    width: 2rem;
    height: 2rem;
}

main button img{
    width: 1rem;
    height: auto;
}

#img1{
    padding-top:5rem;
    width: 10rem;
    height: auto;
    margin-bottom: 5rem;
}

#locationinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}


footer{
   height: 20%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer span{
    display: flex;
    flex-direction: row;
}

footer div *{
    text-align: center;
    gap: 2rem;
    color: rgb(0, 98, 255);
}

footer div h3{
    color: gray;
}

@media only screen and (max-width: 600px) {
  main{
    padding: 1rem;
    margin-bottom: 8rem;
  }
  footer{
    flex-direction: column;
    
  }
  footer *{
    gap: 0;
    margin: 0;
  }
  footer div{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  footer span{
    flex-direction: column;
    gap: 1rem;
  }
}
